---
import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Steps from '~/components/widgets/Steps.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Stats from '~/components/widgets/Stats.astro';
import Layout from '~/layouts/PageLayout.astro';
import { latest_update, n_papers_tot, n_papers_ref, n_citations, h_index } from '~/utils/ADS_metrics';
import { getPermalink } from '~/utils/permalinks';

let ADS_descr = 'See <a class="text-sky-700" href='.concat(getPermalink("/about/publications"), '>publication record</a> for more details.');
ADS_descr = ADS_descr.concat(' Based on the <a href="https://ui.adsabs.harvard.edu/" target="_blank">SAO/NASA Astrophysics Data System</a>');
ADS_descr = ADS_descr.concat(' (last updated: ', latest_update, ').');

const metadata = {
  title: 'CV',
  description: 'Curriculum Vitae.',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    tagline="Dr Joris Witstok FRAS"
    image={{
      src: '~/assets/images/Headshot.png',
      alt: 'Joris Witstok',
      loading: 'eager',
    }}
  >
    <Fragment slot="title">
      Curriculum Vitae
    </Fragment>

    <Fragment slot="subtitle">
      Research Interests
    </Fragment>

    <Fragment slot="content">
      My research interests revolve around galaxy formation and evolution in the early Universe: how the first stars and galaxies
      were formed, how they for the first time synthesised elements heavier than helium, and how they subsequently brought about
      the Reionisation of the Universe, a major phase transition that turned the neutral Universe back to a (mostly) ionised state.
    </Fragment>
  </Hero2>

  <!-- Steps Widget ****************** -->

  <Steps
    id="experience"
    title="Research Experience"
    items={[
      {
        title:
          'DAWN fellow <br /> <span class="font-normal">Cosmic Dawn Center (DAWN), Niels Bohr Institute, University of Copenhagen</span> <br /> <span class="text-sm font-normal">2024 - present</span>',
        description: `Postdoctoral research fellow (DAWN Fellow) at the Cosmic Dawn Center, Niels Bohr Institute, University of Copenhagen.`,
        icon: 'tabler:whirl',
      },
      {
        title:
          'Postdoctoral Research Associate <br /> <span class="font-normal">Cavendish Laboratory, University of Cambridge</span> <br /> <span class="text-sm font-normal">2022 - 2024</span>',
        description: `Multiple first-author publications including in <em>Nature</em>, Principal Investigator of multiple successful ALMA observing programs, Associate Member of the James Webb Space Telescope NIRSpec Instrument Team (allocated 800+ hours telescope time).`,
        icon: 'tabler:whirl',
      },
      {
        title:
          'Doctor of Philosophy (PhD) in Astrophysics <br /> <span class="font-normal">Sidney Sussex College, University of Cambridge</span> <br /> <span class="text-sm font-normal">2018 - 2022</span>',
        description: `Supervised by Dr Renske Smit and Prof Roberto Maiolino. Thesis title: <em>Spectroscopic studies of star-forming galaxies and the intergalactic medium in the early Universe</em>. Published four first-author papers, Principal Investigator of Hubble Space Telescope observations.`,
        icon: 'tabler:whirl',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="cv"
    title="Education"
    items={[
      {
        title: `Master of Advanced Study (MASt) in Astrophysics <br /> <span class="font-normal">Sidney Sussex College, University of Cambridge</span> <br /> <span class="text-sm font-normal">2017 - 2018</span>`,
        description: `Graduated with distinguished performance (Distinction, 85/100). Supervised by Dr Ewald Puchwein, Dr Girish Kulkarni, and Prof Martin Haehnelt.`,
        icon: 'tabler:school',
      },
      {
        title: `Double Bachelor of Science in Physics and Astronomy <br /> <span class="font-normal">University of Leiden</span> <br /> <span class="text-sm font-normal">2014 - 2017</span>`,
        description: `Graduated <em>cum laude</em> both in Physics and Astronomy (8.9 out of 10 average), combined with Honours College.`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="awards"
    title="Scholarships & Honours"
    items={[
      {
        title: `Mike Phillips Award <br /> <span class="font-normal">Sidney Sussex College, University of Cambridge</span> <br /> <span class="text-sm font-normal">2023</span>`,
        description: `Awarded the Mike Phillips Award for the pursuit of excellence in sport (Full Blue in Road Cycling).`,
        icon: 'tabler:certificate-2',
      },
      {
        title: `Distinction <br /> <span class="font-normal">Sidney Sussex College, University of Cambridge</span> <br /> <span class="text-sm font-normal">2023</span>`,
        description: `Awarded a Distinction in Master of Advanced Study (MASt) in Astrophysics.`,
        icon: 'tabler:certificate-2',
      },
      {
        title: `Cum laude (2x) <br /> <span class="font-normal">University of Leiden</span> <br /> <span class="text-sm font-normal">2023</span>`,
        description: `Graduated <em>cum laude</em> in Bachelor of Science in Physics and Astronomy.`,
        icon: 'tabler:certificate-2',
      },
      {
        title: `Honours College <br /> <span class="font-normal">University of Leiden</span> <br /> <span class="text-sm font-normal">2023</span>`,
        description: `Successfully completed Honours College: Beta and Life Sciences.`,
        icon: 'tabler:certificate-2',
      },
      {
        title: `Summa cum laude <br /> <span class="font-normal">Gemeentelijk Gymnasium Hilversum</span> <br /> <span class="text-sm font-normal">2023</span>`,
        description: `Graduated <em>summa cum laude</em> in VWO Gymnasium.`,
        icon: 'tabler:certificate-2',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="selected-publications"
    title="Selected Publications"
    items={[
      {
        title: `<a href="https://ui.adsabs.harvard.edu/abs/2025Natur.639..897W/abstract" target="_blank">Witnessing the onset of reionisation via Lyman-α emission at redshift 13</a>`,
        description: `<a href="https://ui.adsabs.harvard.edu/abs/2025Natur.639..897W/abstract" target="_blank">Witstok, J., Jakobsen, P., Maiolino, R., et al., 2025, Nature, 639, 897</a>`,
        icon: 'tabler:notebook',
      },
      {
        title: `<a href="https://ui.adsabs.harvard.edu/abs/2025MNRAS.536...27W/abstract" target="_blank">JADES: Primaeval Lyman-α emitting galaxies reveal early sites of reionisation out to redshift z ~ 9</a>`,
        description: `<a href="https://ui.adsabs.harvard.edu/abs/2025MNRAS.536...27W/abstract" target="_blank">Witstok, J., Maiolino, R., Smit, R., et al., 2024, MNRAS, 536, 27</a>`,
        icon: 'tabler:notebook',
      },
      {
        title: `<a href="https://ui.adsabs.harvard.edu/abs/2024A&A...682A..40W" target="_blank">Inside the bubble: exploring the environments of reionisation-era Lyman-α emitting galaxies with JADES and FRESCO</a>`,
        description: `<a href="https://ui.adsabs.harvard.edu/abs/2024A&A...682A..40W" target="_blank">Witstok, J., Smit, R., Saxena, A., et al., 2024, A&A, 682, A40</a>`,
        icon: 'tabler:notebook',
      },
      {
        title: `<a href="https://ui.adsabs.harvard.edu/abs/2023Natur.621..267W" target="_blank">Carbonaceous dust grains seen in the first billion years of cosmic time</a>`,
        description: `<a href="https://ui.adsabs.harvard.edu/abs/2023Natur.621..267W" target="_blank">Witstok, J., Shivaei, I., Smit, R., et al., 2023, Nature, 621, 267</a>`,
        icon: 'tabler:notebook',
      },
      {
        title: `<a href="https://ui.adsabs.harvard.edu/abs/2022MNRAS.515.1751W" target="_blank">Dual constraints with ALMA: new [O III] 88-μm and dust-continuum observations reveal the ISM conditions of luminous LBGs at z ~ 7</a>`,
        description: `<a href="https://ui.adsabs.harvard.edu/abs/2022MNRAS.515.1751W" target="_blank">Witstok, J., Smit, R., Maiolino, R., et al., 2022, MNRAS, 515, 1751</a>`,
        icon: 'tabler:notebook',
      },
      {
        title: `<a href="https://ui.adsabs.harvard.edu/abs/2025MNRAS.tmp.1180O/abstract" target="_blank">Detection of the 2175Å UV Bump at z > 7: Evidence for Rapid Dust Evolution in a Merging Reionisation-Era Galaxy</a>`,
        description: `<a href="https://ui.adsabs.harvard.edu/abs/2025MNRAS.tmp.1180O/abstract" target="_blank">Ormerod, K., Witstok, J., et al., 2025, A&A, 697, A89</a>`,
        icon: 'tabler:notebook',
      },
      {
        title: `<a href="https://ui.adsabs.harvard.edu/abs/2025A%26A...697A..89C/abstract" target="_blank">JADES: The star formation and chemical enrichment history of a luminous galaxy at z ~ 9.43 probed by ultra-deep JWST/NIRSpec spectroscopy</a>`,
        description: `<a href="https://ui.adsabs.harvard.edu/abs/2025A%26A...697A..89C/abstract" target="_blank">Curti, M., Witstok, J., et al., 2025, A&A, 697, A89</a>`,
        icon: 'tabler:notebook',
      },
      {
        title: `<a href="https://ui.adsabs.harvard.edu/abs/2024Natur.627...59M" target="_blank">A small and vigorous black hole in the early Universe</a>`,
        description: `<a href="https://ui.adsabs.harvard.edu/abs/2024Natur.627...59M" target="_blank">Maiolino, R., Scholtz, J., Witstok, J., et al., 2024, Nature, 627, 59</a>`,
        icon: 'tabler:notebook',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Stats Widget *********** -->

  <Stats
    id="metrics"
    title="Publication metrics"
    subtitle={ADS_descr}
    stats={[
      { title: 'Publications', amount: n_papers_tot },
      { title: 'Refereed', amount: n_papers_ref },
      { title: 'Citations', amount: n_citations },
      { title: 'h-index', amount: h_index },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="proposals"
    title="Successful Observing Proposals"
    items={[
      {
        title: `A neutral stance: towards completing our view of the ISM in the earliest galaxies`,
        description: `Principal Investigator of ALMA program 2025.1.00418.S`,
        icon: 'tabler:telescope',
      },
      {
        title: `Reionization revealed: ALMA anatomizes an enigmatic ionizing source within a galaxy at redshift 13`,
        description: `Principal Investigator of ALMA program 2025.1.00147.S`,
        icon: 'tabler:telescope',
      },
      {
        title: `Origins of Oxygen: ALMA probing chemical enrichment of the first stars`,
        description: `Principal Investigator of ALMA program 2023.1.00336.S`,
        icon: 'tabler:telescope',
      },
      {
        title: `Cold Dust at Cosmic Dawn: uncovering a cool dust reservoir in the Epoch of Reionization`,
        description: `Principal Investigator of ALMA programs 2022.1.00925.S, 2023.1.00379.S, 2024.1.00675.S`,
        icon: 'tabler:telescope',
      },
      {
        title: `Imaging the sites of star formation at sub-kiloparsec scales in the Epoch of Reionization`,
        description: `Principal Investigator of Hubble Space Telescope program ID 16506`,
        icon: 'tabler:telescope',
      },
      {
        title: `Rest-frame UV diagnostics of star-forming galaxies in an extreme protocluster environment at  z ~ 3`,
        description: `Co-Principal Investigator of ESO program 105.20RW`,
        icon: 'tabler:telescope',
      },
      {
        title: `Various observing proposals`,
        description: `Co-Investigator on 30+ observing programs with James Webb Space Telescope, ALMA, and the Very Large Telescope`,
        icon: 'tabler:telescope',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="selected-talks"
    title="Selected Talks & Presentations"
    items={[
      {
        title: `Chalmers University <br /> <span class="font-normal">Gothenburg, Sweden</span> <br /> <span class="text-sm font-normal">2025</span>`,
        description: `Invited colloquium at Chalmers University.`,
        icon: 'tabler:podium',
      },
      {
        title: `University of Ljubljana <br /> <span class="font-normal">Ljubljana, Slovenia</span> <br /> <span class="text-sm font-normal">2025</span>`,
        description: `Invited seminar at the University of Ljubljana.`,
        icon: 'tabler:podium',
      },
      {
        title: `University of Groningen <br /> <span class="font-normal">Groningen, NL</span> <br /> <span class="text-sm font-normal">2024</span>`,
        description: `Invited seminar at the Kapteyn Astronmical Institute.`,
        icon: 'tabler:podium',
      },
      {
        title: `Harvard University <br /> <span class="font-normal">Cambridge, USA</span> <br /> <span class="text-sm font-normal">2024</span>`,
        description: `Invited seminar at the High Energy Astrophysics Division (HEAD) at the Center for Astrophysics (CfA).`,
        icon: 'tabler:podium',
      },
      {
        title: `European Astronomical Society Meeting 2024 <br /> <span class="font-normal">Padova, Italy</span> <br /> <span class="text-sm font-normal">2024</span>`,
        description: `Invited speaker at the European Astronomical Society Meeting 2024.`,
        icon: 'tabler:podium',
      },
      {
        title: `Cardiff University <br /> <span class="font-normal">Cardiff, UK</span> <br /> <span class="text-sm font-normal">2024</span>`,
        description: `Invited seminar at Cardiff University.`,
        icon: 'tabler:podium',
      },
      {
        title: `California Institute of Technology <br /> <span class="font-normal">Pasadena, USA</span> <br /> <span class="text-sm font-normal">2024</span>`,
        description: `Invited seminar at the California Institute of Technology.`,
        icon: 'tabler:podium',
      },
      {
        title: `Royal Astronomical Society <br /> <span class="font-normal">London, UK</span> <br /> <span class="text-sm font-normal">2024</span>`,
        description: `Invited seminar at the RAS Astronomy and Geophysics Highlights Meeting and invited panellist at the RAS Specialist Discussion Meeting.`,
        icon: 'tabler:podium',
      },
      {
        title: `Cosmic Dawn Center <br /> <span class="font-normal">Copenhagen, Denmark</span> <br /> <span class="text-sm font-normal">2024</span>`,
        description: `Invited seminar talk at the Cosmic Dawn Center.`,
        icon: 'tabler:podium',
      },
      {
        title: `Complutense University <br /> <span class="font-normal">Madrid, Spain</span> <br /> <span class="text-sm font-normal">2023</span>`,
        description: `Invited seminar at Complutense University.`,
        icon: 'tabler:podium',
      },
      {
        title: `American Astronomical Society Bi-Annual Meeting <br /> <span class="font-normal">Albuqueque, USA</span> <br /> <span class="text-sm font-normal">2023</span>`,
        description: `Invited speaker at the 242nd meeting of the American Astronomical Society.`,
        icon: 'tabler:podium',
      },
      {
        title: `Scuola Normale Superiore <br /> <span class="font-normal">Pisa, Italy</span> <br /> <span class="text-sm font-normal">2022</span>`,
        description: `Invited seminar talk at the Scuola Normale Superiore.`,
        icon: 'tabler:podium',
      },
      {
        title: `In Situ View of Galaxy Formation 2 <br /> <span class="font-normal">Ringberg, Germany</span> <br /> <span class="text-sm font-normal">2022</span>`,
        description: `Invited speaker at the In Situ View of Galaxy Formation 2 Conference.`,
        icon: 'tabler:podium',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    id="teaching"
    title="Teaching & Supervision"
    items={[
      {
        title: `Niels Bohr Institute, University of Copenhagen <br /> <span class="text-sm font-normal">2025</span>`,
        description: `Teaching one-week project-based graduate course Gravitational Dynamics and Galaxy Formation.`,
        icon: 'tabler:chalkboard',
      },
      {
        title: `Cavendish Laboratory, University of Cambridge <br /> <span class="text-sm font-normal">2019 - 2022</span>`,
        description: `Teaching assistant for (under)graduate courses in the Physics department at the University of Cambridge.`,
        icon: 'tabler:chalkboard',
      },
      {
        title: `Physics and Astronomy, University of Leiden <br /> <span class="text-sm font-normal">2015 - 2017</span>`,
        description: `Teaching assistant for undergraduate courses in the Physics and Astronomy department at the University of Leiden.`,
        icon: 'tabler:chalkboard',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="outreach"
    title="Selected Media & Outreach"
    items={[
      {
        title: `European Space Agency/NASA <br /> <span class="text-sm font-normal">2025</span>`,
        description: `Co-led ESA/NASA press release covered by 100+ news outlets including <em>The Guardian</em> and <em>New Scientist</em>.`,
        icon: 'tabler:device-tv',
      },
      {
        title: `<em>The Naked Scientists</em> <br /> <span class="text-sm font-normal">2023</span>`,
        description: `Podcast interview with The Naked Scientists (estimated 10 million yearly downloads).`,
        icon: 'tabler:device-tv',
      },
      {
        title: `European Space Agency/NASA <br /> <span class="text-sm font-normal">2023</span>`,
        description: `Co-led ESA/NASA press release covered by 50+ news outlets including <em>Sky & Telescope</em>.`,
        icon: 'tabler:device-tv',
      },
      {
        title: `BNR Nieuwsradio <br /> <span class="text-sm font-normal">2023</span>`,
        description: `Radio interview with BNR Dutch national radio (estimated 0.5 million weekly listeners).`,
        icon: 'tabler:device-tv',
      },
      {
        title: `Institute of Astronomy Open Evening <br /> <span class="text-sm font-normal">2020</span>`,
        description: `Public Lecture at the Open Evening of Institute of Astronomy, University of Cambridge.`,
        icon: 'tabler:device-tv',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills & proficiencies"
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Written Communication',
        description: 'Proven track record in scientific literature (author on 90 publications totalling over 5000 citations).',
      },
      {
        title: 'Leadership',
        description: 'Principal Investigator of multiple successful ALMA observing programs (30 hours), Co-Chair of the Richard Hills memorial conference committee.',
      },
      {
        title: 'Network & Collaboration',
        description: 'Associate Member of the James Webb Space Telescope NIRSpec instrument team (allocated 800+ hours GTO time).',
      },
      {
        title: 'Communication & Services',
        description: 'Presented scientific results at 20 international conferences, helped organize several, served on multiple departmental committees, developed publicly available codes, acted as referee for major journals (<em>Nature</em>, MNRAS, ApJ).',
      },
      {
        title: 'Mathematical and Statistical Modelling',
        description: 'Noise modelling and marginal signal retrieval, Bayesian inference with MCMC methods (development of publicly available parallelised codes).',
      },
      {
        title: 'Data Analysis & Visualisation',
        description: 'Extensive working experience with pipelines and statistical analysis of large data sets (cosmological hydrodynamical simulations and observational surveys).',
      },
      {
        title: 'Computing & Programming',
        description: 'Highly proficient at Python (NumPy, SciPy, mpi4py, Matplotlib), UNIX, bash, LaTeX, git (6+ years’ working experience); familiar with C++, SQL, HTML, machine-learning methods.',
      },
      {
        title: 'Training & Instructing',
        description: 'Extensive experience (10+ years) of tutoring, supervision (students of undergraduate through PhD level), teaching, and assessment (admission interviews at Cambridge); broad experience as a (professional) coach in baseball, rowing (10+ years).',
      },
      {
        title: 'Languages',
        description: 'Dutch (mother tongue), English (fluent).',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="contact"
    title="Contact"
    subtitle="For references or a more detailed version of my CV, please contact me directly:"
    actions={[
      {
        variant: 'secondary',
        text: 'Contact me',
        href: "mailto:joris.witstok@nbi.ku.dk",
      },
    ]}
  />
</Layout>