---
import Layout from '~/layouts/Layout.astro';
import { getHomePermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Error 404',
  description: 'Error 404: not found.',
  robots: {
    follow: false,
  },
};
---

<Layout metadata={metadata}>
  <section class="flex items-center h-full p-16">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-bold text-9xl">
          <span class="sr-only">Error</span>
          <span class="text-primary">404</span>
        </h2>
        <p class="text-3xl font-semibold md:text-3xl">That's a 404 error. Sorry, this page does not exist (yet).</p>
        <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
          <em>We can only see a short distance ahead, but we can see plenty there that needs to be done.</em>
        </p>
        <p class="mt-4 mb-8 text-right text-muted dark:text-slate-400">
          -Alan Turing, Computing Machinery and Intelligence 1950
        </p>
        <a rel="noopener noreferrer" href={getHomePermalink()} class="btn ml-4">Homepage</a>
      </div>
    </div>
  </section>
</Layout>
