---
import Content from '~/components/widgets/Content.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'About me',
  description: 'Academic and personal background.',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    id="academic"
    tagline="Academic Background"
    actions={[{ text: 'My CV', icon: 'tabler:chevron-right', href: getPermalink('/cv') }]}
    image={{
      src: '~/assets/images/Headshot.png',
      alt: 'Joris Witstok',
      loading: 'eager',
    }}
  >
    <Fragment slot="subtitle">
      <p>
        I am currently a postdoctoral research fellow (DAWN Fellow) at the Cosmic Dawn Center, affiliated with the Niels Bohr Institute
        at the University of Copenhagen. Previously, I was part of the Cavendish Laboratory, University of Cambridge, working with
        Roberto Maiolino and Sandro Tacchella within the Kavli Institute for Cosmology. I completed my PhD at Sidney Sussex College,
        supervised by Renske Smit and Roberto Maiolino. Before my PhD, I was at the Institute of Astronomy for the Master of Advanced
        Study in Astrophysics. I completed my undergraduate degree at the University of Leiden, studying Physics and Astronomy.
      </p>
      <br />
      <p>
        My research interests revolve around galaxy formation and evolution in the early Universe: how the first stars and galaxies
        were formed, how they for the first time synthesised elements heavier than helium, and how they subsequently brought about
        the Reionisation of the Universe, a major phase transition that turned the neutral Universe back to a (mostly) ionised state.
        To this end, I am leading several ALMA observing programs and I am involved in large international collaborations as an
        Associate Member of the James Webb Space Telescope NIRSpec Guaranteed Time Observations team.
      </p>
      <br />
    </Fragment>
  </Hero2>

  <!-- Content Widget **************** -->

  <Content
    id="personal"
    columns={2}
    isReversed
    callToAction={{
      text: 'Read more on (extragalactic) astronomy',
      icon: 'tabler:chevron-right',
      href: getPermalink('/science/public'),
    }}
    image={{
      src: '~/assets/images/cycling.png',
      alt: 'Gravel biking',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Personal</h3>
      <p>
        Outside of astronomy, I enjoy sports and the outdoors. I played baseball since I was 5, started rowing at university
        and have since picked up cycling as well.
      </p>
      <br />
      <p>
        Apart from being a professional astronomer, I also enjoy stargazing as an amateur. At the
        Old Observatory in Leiden, I learnt to operate the historical six-inch, ten-inch, and photographic double refractor
        telescopes (dating back to 1838), as well as being involved in outreach as tour guide and museum custodian.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
