---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Homepage',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    id="main"
    tagline="Dr Joris Witstok"
    image={{
      src: "~/assets/images/Cam.png",
      alt: 'Cambridge',
      loading: 'eager',
    }}
    actions={[{ variant: 'secondary', text: 'About', icon: 'tabler:user', href: '#about' },
              { variant: 'secondary', text: 'Science', icon: 'tabler:whirl', href: '#science' },
              { variant: 'secondary', text: 'Contact', icon: 'tabler:mail', href: '#contact' }]}
  >
    <Fragment slot="subtitle">
      Astrophysicist studying the formation of the first stars, black holes and galaxies in the Universe with the largest telescopes on Earth and in space.
    </Fragment>
  </Hero2>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={2}
    isReversed
    callToAction={{
      text: 'Read more',
      icon: 'tabler:chevron-right',
      href: getPermalink('/about'),
    }}
    image={{
      src: '~/assets/images/Headshot.png',
      alt: 'Joris Witstok',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        I am currently a postdoctoral research fellow (DAWN Fellow) at the Cosmic Dawn Center, affiliated with the Niels Bohr Institute
        at the University of Copenhagen. Previously, I was at the University of Cambridge as part of Sidney Sussex College, working with
        Roberto Maiolino and Sandro Tacchella within the Cavendish Laboratory and the Kavli Institute for Cosmology. I obtained my PhD there
        in 2022, supervised by Renske Smit and Roberto Maiolino.
      </p>
      <br />
      <p>
        My research interests revolve around galaxy formation and evolution in the early Universe: how the first stars and galaxies
        were formed, how they for the first time synthesised elements heavier than helium, and how they subsequently brought about
        the Reionisation of the Universe, a major phase transition that turned the neutral Universe back to a (mostly) ionised state.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="science"
    title="Extragalactic astronomy"
    subtitle="Learn more about my research."
    isReversed
    items={[
        {
          title: 'What is a galaxy?',
          icon: 'tabler:whirl',
        },
        {
          title: 'How do we learn about the first galaxies in the Universe?',
          icon: 'tabler:universe',
      },
    ]}
    image={{
      src: '~/assets/images/NGC_4414.jpg',
      width: 1000,
      alt: 'NGC 4414 spiral galaxy, taken in 1995 by Hubble Space Telescope',
    }}
    callToAction={{
      text: 'Read more',
      icon: 'tabler:chevron-right',
      href: getPermalink('/science/public'),
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        For public: <br /><span class="text-2xl">An introduction to extragalactic astronomy</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'The build-up of metals and dust in the early Universe',
        icon: 'tabler:atom',
      },
      {
        title: 'The role of galaxies in Cosmic Reionisation',
        icon: 'tabler:whirl',
      },
    ]}
    image={{
      src: '~/assets/images/jades-cutout.jpg',
      width: 1000,
      alt: 'Cambridge',
    }}
    callToAction={{
      text: 'Read more',
      icon: 'tabler:chevron-right',
      href: getPermalink('/science/research'),
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        For scientists: <br /><span class="text-2xl">My research</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Discovery of the most distant galaxies currently known',
        icon: 'tabler:whirl',
      },
      {
        title: 'Finding carbon-rich dust grains in the early Universe',
        icon: 'tabler:sparkles',
      },
    ]}
    image={{
      src: '~/assets/images/weic2317b.jpg',
      width: 1000,
      alt: 'GOODS-South extragalactic field',
    }}
    callToAction={{
      text: 'Read more',
      icon: 'tabler:chevron-right',
      href: getPermalink('/science/news'),
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        News & Media
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="contact"
    title="Contact"
    subtitle="For pressing existential or practical questions"
    actions={[
      {
        variant: 'secondary',
        text: 'Contact me',
        href: "mailto:joris.witstok@nbi.ku.dk",
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <!-- <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts> -->
</Layout>
